.ds-tf-avatar {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.ds-tf-avatar__badge {
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 30%;
  height: 30%;
  min-width: 9px;
  min-height: 9px;
  border-radius: 9999px;
  border: 2px solid white;
  box-sizing: content-box;
}
